USE [master]
GO
/****** Object:  Database [QuanlyBanVe]    Script Date: 12/10/2020 2:39:22 PM ******/
CREATE DATABASE [QuanlyBanVe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanlyBanVe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanlyBanVe.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanlyBanVe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanlyBanVe_log.ldf' , SIZE = 4224KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanlyBanVe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanlyBanVe]
GO
/****** Object:  Table [dbo].[CCHUYENBAY]    Script Date: 12/10/2020 2:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCHUYENBAY](
	[MACHUYENBAY] [nvarchar](50) NOT NULL,
	[SANBAYDI] [nvarchar](50) NULL,
	[SANBAYDEN] [nvarchar](50) NULL,
	[NGAYGIO] [date] NULL,
	[THOIGIANBAY] [int] NULL,
	[SOLUONGGHEHANG1] [int] NULL,
	[SOLUONGGHEHANG2] [int] NULL,
 CONSTRAINT [PK_CCHUYENBAY] PRIMARY KEY CLUSTERED 
(
	[MACHUYENBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATCHO]    Script Date: 12/10/2020 2:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATCHO](
	[MAPHIEU] [nvarchar](50) NOT NULL,
	[MAKH] [nvarchar](50) NULL,
	[MACHUYENBAY] [nvarchar](50) NULL,
	[MATUYENBAY] [nvarchar](50) NULL,
	[MAHANGVE] [nvarchar](50) NULL,
	[SOGHEDAT] [int] NULL,
	[NGAYDAT] [date] NULL,
	[GIATIEN] [int] NULL,
 CONSTRAINT [PK_DATCHO] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGVE]    Script Date: 12/10/2020 2:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGVE](
	[mahangve] [nvarchar](10) NOT NULL,
	[tenhangve] [nvarchar](50) NULL,
 CONSTRAINT [PK_HANGVE] PRIMARY KEY CLUSTERED 
(
	[mahangve] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KKHACHHANG]    Script Date: 12/10/2020 2:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KKHACHHANG](
	[MAKH] [nvarchar](50) NOT NULL,
	[CMND] [nvarchar](50) NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIENTHOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_KKHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/10/2020 2:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[manv] [nvarchar](10) NOT NULL,
	[tennv] [nvarchar](50) NULL,
	[dienthoai] [nvarchar](12) NULL,
	[diachi] [nvarchar](255) NULL,
	[matkhau] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[manv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANBAY]    Script Date: 12/10/2020 2:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANBAY](
	[masanbay] [nvarchar](10) NOT NULL,
	[tensanbay] [nvarchar](255) NULL,
 CONSTRAINT [PK_SANBAY] PRIMARY KEY CLUSTERED 
(
	[masanbay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTHAMSO]    Script Date: 12/10/2020 2:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTHAMSO](
	[ThoiGianBayToiThieu] [nvarchar](50) NULL,
	[SoSanBayTrungGianToiDa] [nvarchar](50) NULL,
	[ThoiGianDungToiThieu] [nvarchar](50) NULL,
	[ThoiGianDungToiDa] [nvarchar](50) NULL,
	[TGChamNhatDatVe] [nvarchar](50) NULL,
	[TGChamNhatHuyDatVe] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUYENBAY]    Script Date: 12/10/2020 2:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUYENBAY](
	[matuyenbay] [nvarchar](20) NOT NULL,
	[masanbaydi] [nvarchar](10) NULL,
	[masanbayden] [nvarchar](10) NULL,
 CONSTRAINT [PK_TUYENBAY] PRIMARY KEY CLUSTERED 
(
	[matuyenbay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CCHUYENBAY] ([MACHUYENBAY], [SANBAYDI], [SANBAYDEN], [NGAYGIO], [THOIGIANBAY], [SOLUONGGHEHANG1], [SOLUONGGHEHANG2]) VALUES (N'QH214', N'Nội Bài', N'Cần Thơ', CAST(N'2020-07-08' AS Date), 1, 55, 50)
INSERT [dbo].[CCHUYENBAY] ([MACHUYENBAY], [SANBAYDI], [SANBAYDEN], [NGAYGIO], [THOIGIANBAY], [SOLUONGGHEHANG1], [SOLUONGGHEHANG2]) VALUES (N'QH290', N'Đà Nẵng', N'Pleiku', CAST(N'2020-11-06' AS Date), 3, 55, 50)
INSERT [dbo].[CCHUYENBAY] ([MACHUYENBAY], [SANBAYDI], [SANBAYDEN], [NGAYGIO], [THOIGIANBAY], [SOLUONGGHEHANG1], [SOLUONGGHEHANG2]) VALUES (N'VJ260', N'Điện Biên Phủ', N'Thọ Xuân', CAST(N'2020-01-01' AS Date), 1, 50, 50)
GO
INSERT [dbo].[DATCHO] ([MAPHIEU], [MAKH], [MACHUYENBAY], [MATUYENBAY], [MAHANGVE], [SOGHEDAT], [NGAYDAT], [GIATIEN]) VALUES (N'1002', N'QH214', N'1', N'DAD -PXU', N'Vé hạng 1', 2, CAST(N'2020-12-10' AS Date), 5000000)
INSERT [dbo].[DATCHO] ([MAPHIEU], [MAKH], [MACHUYENBAY], [MATUYENBAY], [MAHANGVE], [SOGHEDAT], [NGAYDAT], [GIATIEN]) VALUES (N'1106', N'VNA1336', N'thu456', N'VDO-CXR', N'Vé hạng 1', 2, CAST(N'2020-12-10' AS Date), 9135780)
INSERT [dbo].[DATCHO] ([MAPHIEU], [MAKH], [MACHUYENBAY], [MATUYENBAY], [MAHANGVE], [SOGHEDAT], [NGAYDAT], [GIATIEN]) VALUES (N'1904', N'QH290', N'kien123', N'SGN-VDH', N'Vé hạng 1', 4, CAST(N'2020-12-10' AS Date), 4480808)
GO
INSERT [dbo].[HANGVE] ([mahangve], [tenhangve]) VALUES (N'1', N'Vé hạng 1')
INSERT [dbo].[HANGVE] ([mahangve], [tenhangve]) VALUES (N'2', N'Vé hạng 2')
GO
INSERT [dbo].[KKHACHHANG] ([MAKH], [CMND], [TENKH], [DIENTHOAI]) VALUES (N'1', N'11111', N'lê hồng quân', N'1111')
INSERT [dbo].[KKHACHHANG] ([MAKH], [CMND], [TENKH], [DIENTHOAI]) VALUES (N'abcxyz', N'044301001666', N'Phạm Thị Trang Thu', N'0372024845')
INSERT [dbo].[KKHACHHANG] ([MAKH], [CMND], [TENKH], [DIENTHOAI]) VALUES (N'avab', N'044301001444', N'Nguyễn Văn A', N'0372024843')
GO
INSERT [dbo].[NHANVIEN] ([manv], [tennv], [dienthoai], [diachi], [matkhau]) VALUES (N'kien1904', N'Nguyễn Phạm Trung Kiên', N'0399087024', N'86/40 Âu Cơ', N'123456789')
INSERT [dbo].[NHANVIEN] ([manv], [tennv], [dienthoai], [diachi], [matkhau]) VALUES (N'lehongquan', N'Lê Hồng Quân', N'0814789455', N'351A Lạc Long Quân', N'123')
INSERT [dbo].[NHANVIEN] ([manv], [tennv], [dienthoai], [diachi], [matkhau]) VALUES (N'maihoa', N'Nguyễn Thị Mai Hoa', N'0365815001', N'10 Trần Thiện Chánh', N'123456789')
GO
INSERT [dbo].[SANBAY] ([masanbay], [tensanbay]) VALUES (N'BMV', N'Buôn Ma Thuột')
INSERT [dbo].[SANBAY] ([masanbay], [tensanbay]) VALUES (N'CAH', N'Cà Mau')
INSERT [dbo].[SANBAY] ([masanbay], [tensanbay]) VALUES (N'CXR', N'Cam Ranh')
GO
INSERT [dbo].[TTHAMSO] ([ThoiGianBayToiThieu], [SoSanBayTrungGianToiDa], [ThoiGianDungToiThieu], [ThoiGianDungToiDa], [TGChamNhatDatVe], [TGChamNhatHuyDatVe]) VALUES (N'1 giờ', N'2', N'0.5 giờ', N'2 giờ', N'Trước 1 ngày', N'Trước 2 ngày')
GO
INSERT [dbo].[TUYENBAY] ([matuyenbay], [masanbaydi], [masanbayden]) VALUES (N'DAD -PXU', N'DAD ', N'PXU')
INSERT [dbo].[TUYENBAY] ([matuyenbay], [masanbaydi], [masanbayden]) VALUES (N'DIN-DAD ', N'DIN', N'DAD ')
INSERT [dbo].[TUYENBAY] ([matuyenbay], [masanbaydi], [masanbayden]) VALUES (N'DIN-THD', N'DIN', N'THD')
GO
USE [master]
GO
